{{define "index"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <noscript>
        <meta http-equiv="refresh" content="0;URL='/missingjavascript'" />   
    </noscript>

    <title>{{ .Title }}</title>
</head>
<body>
    <div id="csrf" style="visibility: hidden; display: none">{{ .CSRF }}</div>
    <div id="root"></div>
</body>
</html>{{end}}