.login {
    width: 250px;
    float: right;
}
.content {
    display: flex;
}
.news {
    display: flex;
    flex: 0.8;
    flex-direction: column;
}
.aside {
    display: flex;
    flex: 0.2;
    flex-direction: column;
}
.footer {
    height: 150px;
}
.article {
    height: 100px;
}